//
// Styling for logo
//

@import "../../../styles/variables";

.logo {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 1;
  animation: animate 2s linear 0.5s forwards;

  &.white {
    stroke: #fff;
  }
}

@keyframes animate {
  to {
    stroke-dashoffset: 0;
  }
}
