//
// Styling for menuItem
//

@import "../../../styles/colors";
@import "../../../styles/fonts";
@import "../../../styles/typography";
@import "../../../styles/spacings";

.menu-item {
  display: inline-block;
  font-family: $font-sansserif;
  font-size: $typography-sm;
  letter-spacing: $spacing-xxs;
  text-transform: uppercase;

  &:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: $color-black;
    transform: scaleX(0);
    transform-origin: left center;
    transition: all $time-xs $cubic-bezier;
  }

  &:hover {
    &:after {
      transform: scaleX(1);
      transform-origin: right center;
    }
  }
}
