//
// Styling for image
//

@import "../../../styles/variables";

.image {
  width: 600px;
  height: 400px;
  object-fit: cover;
  margin: $spacing-md;
}

.header {
  width: 100%;
  height: 400px;
  margin: 0;
  filter: brightness(80%);
}
