//
// Styling for divider
//

@import "../../../styles/variables";

.divider {
  display: flex;

  &.max-width {
    max-width: 200px;
  }

  .border {
    flex-grow: 9;
    height: 1px;
    background: $color-grey;
    margin: $spacing-xs 0 0 0;
  }

  .divider-title {
    color: $color-grey;
    font-family: $font-sansserif;
    font-size: $typography-sm;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0 0 0 $spacing-md;
  }

  .project {
    color: $color-grey;
    font-family: $font-sansserif;
    text-transform: capitalize;
    font-size: $typography-sm;
  }

  .no-margin {
    margin: $spacing-md 0 0 0;
  }
}
