//
// Styling for spacing variables
//

@import "../../../styles/variables";

.variableSpacings {
  &__item {
    margin: 20px;
  }

  &__info {
    display: block;
  }

  h1 {
    font-weight: normal;
  }
}
