//
// Color variables
//

$color-primary: #D95B72;
$color-primary-light: #FF6B86;
$color-secondary: #3F3B59;

$color-black: #000;
$color-white: #fff;

// Export to show in Storybook
:export {
    colorPrimary: $color-primary;
    colorPrimaryLight: $color-primary-light;
    colorSecondary: $color-secondary;
    colorBlack: $color-black;
    colorWhite: $color-white;
}