//
// Spacing variables
//

// Spacings

$spacing-xxs: 0.2em;
$spacing-xs: 0.4em;
$spacing-sm: 0.8em;
$spacing-md: 1em;
$spacing-lg: 2em;
$spacing-xl: 4em;

// Measurements

$time-xs: 0.6s;

// Cubic Bezier

$cubic-bezier: cubic-bezier(0, 0, 0, 1);
