//
// Typography variables
//

// Size

$typography-xxs: 0.2em;
$typography-xs: 0.6em;
$typography-sm: 0.8em;
$typography-md: 1em;
$typography-lg: 2em;
$typography-xl: 4em;

// Weight

$typography-medium: 400;
$typography-bold: 700;
