//
// Styling for social
//

@import "../../../styles/variables";

a {
  text-decoration: none;
}

.social {
  color: $color-white;
  font-family: $font-sansserif;
  font-size: $typography-md;
  text-transform: capitalize;
}
