//
// Styling for title
//

@import "../../../styles/variables";

.title {
  font-family: $font-serif;
  text-align: center;
  text-transform: capitalize;
  font-weight: normal;

  &.big {
    font-size: $typography-xxl;
  }

  &.small {
    font-size: 2em;

    @media (min-width: $breakpoint-sm) {
      font-size: $typography-xl;
    }

    @media (min-width: $breakpoint-lg) {
      font-size: $typography-xl;
    }
  }

  &.light {
    color: $color-black;
  }

  &.dark {
    color: $color-white;
  }

  &.rotate {
    transform: rotate(-90deg);
    position: absolute;
    top: 25%;
    left: -10%;
  }

  &.transparent {
    opacity: $opacity-xl;
  }

  &.layered {
    display: flex;
    position: relative;
  }

  &.number {
    position: absolute;
    left: 90%;
    top: 15%;
  }

  &.project {
    position: absolute;
    z-index: 2;
    font-size: $typography-xxl;
    color: transparent;
    left: 50%;
    transform: translate(-50%, 100%);
    -webkit-text-stroke: 1px $color-black;

    @media (min-width: $breakpoint-lg) {
      left: 50%;
      margin: $spacing-md 0;
      transform: translate(0%, 0%);
    }
  }

  &.project-detail {
    z-index: 2;
    font-size: $typography-xxl;
    color: transparent;
    -webkit-text-stroke: 1px $color-white;
    overflow: hidden;
  }

  &.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__up {
    margin: 0 $spacing-lg 0 0;
  }

  &__down {
    margin: -$spacing-xs 0 0 0;
  }
}
