//
// Styling for title
//

@import "../../../styles/variables";

.title {
  font-family: $font-serif;
  text-align: center;
  text-transform: capitalize;
  font-weight: normal;

  &.big {
    font-size: $typography-xxl;
  }

  &.small {
    font-size: $typography-xl;
  }

  &.light {
    color: $color-grey;
  }

  &.dark {
    color: $color-white;
  }

  &.rotate {
    transform: rotate(-90deg);
    position: absolute;
    top: 25%;
    left: -10%;
  }

  &.transparent {
    opacity: $opacity-xl;
  }

  &.layered {
    display: flex;
    position: relative;
  }

  &.center {
    justify-content: center;
  }

  &.project {
    position: absolute;
    left: 55%;
    top: -22%;
  }

  &.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__up {
    margin: 0 $spacing-lg 0 0;
  }

  &__down {
    margin: -$spacing-xs 0 0 0;
  }
}
