//
// Styling for container
//

@import "../../../styles/variables";

.container {
  display: flex;
  justify-content: center;
  margin: $spacing-xxl $spacing-md;

  @media (min-width: $breakpoint-sm) {
    margin: $spacing-xxl $spacing-md;
  }

  @media (min-width: $breakpoint-lg) {
    margin: $spacing-xxl;
  }

  .item {
    width: 10%;
  }

  .small {
    position: absolute;
    top: 10%;
    width: 100%;
    left: 10%;
    z-index: 1;
    opacity: $opacity-xl;
    margin: -$spacing-md 0 0 0;

    @media (min-width: $breakpoint-sm) {
      position: relative;
      flex-grow: 1;
      width: 10%;
      left: 0;
      opacity: $opacity-md;
      margin: -$spacing-xxl 0 0 0;
    }

    @media (min-width: $breakpoint-lg) {
      position: relative;
      flex-grow: 1;
      width: 10%;
      left: 0;
      opacity: $opacity-md;
      margin: -$spacing-xxl 0 0 0;
    }
  }

  .big {
    z-index: 2;
    flex-grow: 3;
  }
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;

  @media (min-width: $breakpoint-sm) {
    width: 60%;
  }

  @media (min-width: $breakpoint-lg) {
    width: 50%;
  }
}

.column {
  width: 100%;

  @media (min-width: $breakpoint-sm) {
    width: 60%;
  }

  @media (min-width: $breakpoint-lg) {
    width: 50%;
  }
}
