//
// Styling for container
//

@import "../../../styles/variables";

.container {
  display: flex;
  justify-content: center;
  margin: $spacing-xxl $spacing-md;

  @media (min-width: $breakpoint-sm) {
    margin: $spacing-xxl $spacing-md;
  }

  @media (min-width: $breakpoint-lg) {
    margin: $spacing-xxl;
  }

  .item {
    width: 10%;
  }

  .small {
    flex-grow: 1;
  }

  .big {
    flex-grow: 3;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  width: 100%;

  @media (min-width: $breakpoint-sm) {
    width: 60%;
  }

  @media (min-width: $breakpoint-lg) {
    width: 50%;
  }
}
