//
// Styling for cursor
//

@import "../../../styles/variables";

.cursor {
  width: $typography-md;
  height: $typography-md;
  border: 1px solid $color-white;
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all $time-xs ease;
  transition-property: opacity, transform, mix-blend-mode;
  z-index: 9999;
  mix-blend-mode: difference;
}

.cursor--hidden {
  opacity: 0;
}

.cursor--link-hovered {
  transform: translate(-50%, -50%) scale(1.25);
}

.cursor--clicked {
  transform: translate(-50%, -50%) scale(0.9);
}

html,
body {
  cursor: none;
}
