//
// Styling for paragraph
//

@import "../../../styles/variables";

.paragraph {
  max-width: 600px;
  color: $color-white;
  font-family: $font-sansserif;
  font-size: $typography-md;
  text-transform: capitalize;
  letter-spacing: $spacing-xxs;
  line-height: 1.5;
  margin: $spacing-md 0 $spacing-xl 0;

  &.right {
    text-align: right;
  }

  &.small {
    margin: $spacing-md 0 $spacing-md 0;
  }
}
